
@mixin ipad() {
  @media screen and (min-width: $ipad) {
    @content;
  }
}
@mixin ipadPro() {
  @media screen and (min-width: $ipadPro) {
    @content;
  }
}
@mixin laptop13() {
  @media screen and (min-width: $laptop13) {
    @content;
  }
}
@mixin laptop() {
  @media screen and (min-width: $laptop) {
    @content;
    max-width: 1200px;
  }
}

@mixin pc() {
  @media screen and (min-width: $pc) {
    @content;
  }
}

@mixin bigPc() {
  @media screen and (min-width: $bigPc) {
    @content;
  }
}

@mixin initContainer(){

  max-width: 85vw;
  margin: 0% auto;
  padding: 0%;
}

@mixin initBouton ($couleurText, $couleurFond){
  color: $couleurText;
  background-color: $couleurFond;
  border-radius: 75px;
  width: 152px;
  height: 43px;
  border: none;
}

@mixin titreFooterList ($color){
    color: $color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

@mixin textFondFooter ($c){
  color: $c;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@mixin font($family, $size, $weight, $line, $spacing, $color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  letter-spacing: $spacing;
  color: $color;
}