@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Inter:wght@400;800&family=Raleway&display=swap");
@import "./01tailleEcrans";
@import "./02Mixins";
@import "./03colors";
@import "./04\ Font-family";

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background: $couleur-background;
  background-image: url("/projetfinal/principal\ img.png");
  background-repeat: no-repeat;
  background-position: top -126px right -126px;
}

header {
  padding: 33px 0px;
  color: $couleur-text;

  .containerHeader {
    @include initContainer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      gap: 33px;
    }
  }

  span {
    color: $couleur-span;
  }

  li {
    text-decoration: none;
    list-style: none;
  }
}

// MAIN //

main {
  @include initContainer;
  font-family: "Barlow", sans-serif;
}

.infos {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  grid-template-rows: repeat(4, max-content);
  margin-top: 164px;
  gap: 21px;

  h1 {
    color: $couleur-text;
  }

  h2 {
    color: $couleur-title;
  }
}

.para1 {
  margin-bottom: 20px;
}

.buttonDiv {
  display: grid;
  grid-template-rows: repeat(1, max-content);
  grid-template-columns: repeat(2, max-content);
  gap: 24px;
}

.btnStart {
  button{
    @include initBouton($couleur-text, $couleur-span);
  }
  a{
    color:$couleur-text;
    text-decoration: none;
  }

  button:hover{
    background-color: black;
  }
}

.btnKM button {
  @include initBouton(black, white);
}

// ARTICLE //

.elipse {
  margin: 907px 163px 1540px 1067px;
}
