@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Inter:wght@400;800&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan&family=Barlow+Condensed:wght@300&family=Barlow:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan&family=Barlow:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan&family=Barlow:wght@300&family=Open+Sans:ital,wght@0,300;0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan&family=Barlow:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan&family=Barlow+Condensed:wght@300&family=Barlow:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;1,600&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background: #2c2d65;
  background-image: url("/projetfinal/principal img.png");
  background-repeat: no-repeat;
  background-position: top -126px right -126px;
}

header {
  padding: 33px 0px;
  color: white;
}
header .containerHeader {
  max-width: 1440px;
  margin: 0% auto;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .containerHeader h1 {
  font-family: "Barlow", sans-serif;
}
header .containerHeader ul {
  display: flex;
  gap: 33px;
}
header span {
  color: #e6606c;
}
header li {
  text-decoration: none;
  list-style: none;
}

main {
  max-width: 1440px;
  margin: 0% auto;
  padding: 0%;
  font-family: "Barlow", sans-serif;
}

.infos {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  grid-template-rows: repeat(4, max-content);
  margin-top: 164px;
  gap: 21px;
}
.infos h1 {
  color: white;
  font-size: 64px;
  font-weight: 300;
  line-height: 77px;
  letter-spacing: 0.045em;
  text-align: left;
}
.infos h2 {
  color: orange;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.045em;
  text-align: left;
}
.infos::before {
  content: "";
  position: absolute;
  width: 142px;
  height: 153px;
  background-image: url("/projetfinal/deco1.png");
  background-repeat: no-repeat;
  margin-top: -40px;
  margin-left: -50px;
}
.infos::after {
  content: "";
  position: absolute;
  width: 184px;
  height: 181px;
  background-image: url("/projetfinal/deco2.png");
  background-repeat: no-repeat;
  margin-top: 215px;
  margin-left: 250px;
}

.para1 {
  color: #EFEFEF;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.045em;
  text-align: left;
}

.buttonDiv {
  display: grid;
  grid-template-rows: repeat(1, max-content);
  grid-template-columns: repeat(2, max-content);
  gap: 24px;
}

.btnStart button {
  color: white;
  background-color: #e6606c;
  border-radius: 75px;
  width: 152px;
  height: 43px;
  border: none;
}
.btnStart a {
  color: white;
  text-decoration: none;
}
.btnStart button:hover {
  background-color: black;
}

.btnKM button {
  color: black;
  background-color: white;
  border-radius: 75px;
  width: 152px;
  height: 43px;
  border: none;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 156px;
}

.lorem {
  color: white;
  display: grid;
  grid-template-rows: repeat(5, min-content);
  gap: 17px;
  margin-top: 40px;
  width: 90%;
  gap: 30px span;
  gap-width: 62px;
  gap-height: 32px;
  gap-top: 839px;
  gap-left: 835px;
  gap-font-size: 16px;
  gap-font-weight: 400;
  gap-line-height: 32px;
  gap-letter-spacing: 3px;
  gap-text-align: left;
}
.lorem h1 {
  height: 128px;
  top: 887px;
  left: 835px;
  font-size: 46px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}
.lorem::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background-image: url("/projetfinal/Ellipse 1.png");
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-left: 230px;
}
.lorem h2 {
  height: 70px;
  top: 1045px;
  left: 835px;
  font-family: Barlow;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.lorem p {
  color: #EFEFEF;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 28px;
}

.article2 {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  display: grid;
  grid-template-columns: repeat(1, max-content);
  grid-template-rows: repeat(3, max-content);
  justify-content: center;
  text-align: center;
  gap: 21px;
}
.article2::before {
  content: "";
  position: absolute;
  top: 1325px;
  left: 422px;
  width: 142px;
  height: 153px;
  background-image: url("/projetfinal/deco3.png");
  background-repeat: no-repeat;
}
.article2 .article h2 {
  color: #EFEFEF;
  text-align: center;
  width: 57px;
  height: 32px;
  font-size: 56px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
}
.article2 .article h2 h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
  width: 405px;
  height: 64px;
}
.article2 .article h2 h1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  width: 570px;
  height: 64px;
}

.Cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}/*# sourceMappingURL=style.css.map */