@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Inter:wght@400;800&family=Raleway&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
$couleur-background: #2c2d65;
$couleur-span: #e6606c;
$couleur-text: white;
$couleur-title: orange;

body {
  background: $couleur-background;
  background-image: url("/projetfinal/principal\ img.png");
  background-repeat: no-repeat;
  background-position: top -126px right -126px;
}

.container {
  max-width: 1110px;
  margin: 0% auto;
  padding: 0%;
}

.header {
  padding: 33px 0px;
  color: $couleur-text;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      gap: 33px;
    }
  }

  span {
    color: $couleur-span;
  }

  li {
    text-decoration: none;
    list-style: none;
  }
}

// MAIN //

.main {
  background-image: url("/projetfinal/deco1.png");
  background-repeat: no-repeat;
  background-position: 185px 150px 132px 77px;

  .container {
    max-width: 1110px;
    margin: 0% auto;
    padding: 0%;

    .infos {
      display: flex;
      height: 77px;
      top: 233px;
      left: 120px;
      font-size: 64px;
      font-weight: 300;
      line-height: 77px;
      letter-spacing: 0.045em;
      text-align: left;
      margin-top: 233px;
      margin-left: 120px;

      h1{
        display: flex;
      }
    }
  }
}
